.homeMainSection{
    min-height: 24rem;
    width: 100%;
    background:  url(/src/img/background-home.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top:4rem ;
}

.homeMainSection-txt{
    color: #ffffff;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}

.botonera-homeMainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 20rem;
    margin-top: 1rem;

}

.mostrarAvances{
    border: 2px solid #ffffff;
    padding: .5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}


.mostrarIntegrantes{
    background: #ffffff;
    border: 2px solid #ffffff;
    padding: .5rem 1rem;
    border-radius: 8px;
    color: #232323;
    text-decoration: none;

}

.mostrarIntegrantes:hover, .mostrarAvances:hover{
    background: #f869d5;
    background: linear-gradient(to top right, #f869d5 10%, #635cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 250ms;
}

.infoContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30rem;
}
.infoContainerTitle{

    background: #f869d5;
    background: linear-gradient(to top right, #f869d5 10%, #635cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    text-align: center;

}

.infoTarjertasContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
}

.infoTarjeta{
    width: 14rem;
    height: 10rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2323235b;
    margin: 1rem;
}
.infoTitle{
    background: #f869d5;
    background: linear-gradient(to top right, #f869d5 10%, #635cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.infoTxt{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.infoImg{
    width: 90%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 600px) {
    .homeMainSection{
        height: 30rem;
        width: 100vw;
    }

}
  